build --cxxopt=--std=c++17
build --define enable_ifaddrs=true
build --test_env=DISPLAY
test --define enable_ifaddrs=true
test --test_env=DISPLAY

# Debugging C++ on MacOS does not work (workarounds)
# https://github.com/bazelbuild/bazel/issues/6327
build --compilation_mode=dbg
build --spawn_strategy=standalone
